# Problem 1(a).  College data.

The data set usnews.csv contains data from the 1995 US News and World Report on colleges and universities in the US.  

(Dataset:  “US News College data,” submitted by Robin Lock, St. Lawrence University.   Dataset obtained from the Journal of Statistics Education (http://www.amstat.org/publications/jse). Accessed 23 June 2015. Used by permission of author.)

Metadata:  http://www.amstat.org/publications/jse/datasets/usnews.txt


The data set contains asterisks which indicate missing data.  Use pandas to create a data frame which replaces the asterisks by the ```NaN``` symbol.

In [112]:
import pandas as pd
import numpy as np

file_usNews = pd.read_csv("usnews.csv")
file_usNews[0:5]


#we write a function to replace * with NaN
def rm_stars(isStar):
    if isStar == "*":
        return np.nan
    else:
        return isStar

In [113]:
file_usNews = file_usNews.applymap(rm_stars)
file_usNews[0:5]

,ID Number,College Name,State,Public/private,Avg Math SAT,Avg Verbal SAT,Avg combined SAT,Avg ACT,First quartile - Math SAT,Third quartile - Math SAT,...,Board costs,Additional fees,Estimated book costs,Estimated personal spending,Pct of faculty with PhDs,Pct of faculty with terminal degree,Student/faculty ratio,Pct alumni who donate,Instructional expenditure per student,Graduation rate
0,1061,Alaska Pacific University,AK,2,490,482,972,20,440,530,...,2500,130,800,1500,76,72,11.9,2,10922,15
1,1063,University of Alaska at Fairbanks,AK,1,499,462,961,22,NaN,NaN,...,1790,155,650,2304,67,NaN,10.0,8,11935,NaN
2,1065,University of Alaska Southeast,AK,1,NaN,NaN,NaN,NaN,NaN,NaN,...,2250,34,500,1162,39,51,9.5,NaN,9584,39
3,11462,University of Alaska at Anchorage,AK,1,459,422,881,20,NaN,NaN,...,2520,114,580,1260,48,NaN,13.7,6,8046,NaN
4,1002,Alabama Agri. & Mech. Univ.,AL,1,NaN,NaN,NaN,17,NaN,NaN,...,1442,155,500,850,53,53,14.3,NaN,7043,40

#Problem 1(b).  Categorizing universities.

Create a new column in your data frame which describes whether a university is public or private, using the words "Public" and "Private" instead of numbers.  (It may be helpful to consult the metadata file.)

In [114]:
# public is 1
# private is 2
file_usNews['Private or Public'] = file_usNews[' Public/private'].map(lambda s: 'Public' if s == 1 else 'Private')


file_usNews[0:10]

file_usNews = file_usNews.applymap(rm_stars)

#Problem 1(c).  

The interquartile range is the 3rd quartile minus the 1st quartile.  Create columns recording the interquartile range for math and verbal SAT scores.

In [117]:
# finds the interquartile Math SAT = 3rd quartile - 1st quartile
file_usNews['InterQ_Verbal_SAT'] = file_usNews[' Third quartile - Verbal SAT'].astype('float') - file_usNews[' First quartile - Verbal SAT'].astype('float')

In [116]:
# finds the interquartile verbal SAT = 3rd quartile - 1st quartile
file_usNews['InterQ_Math_SAT'] = file_usNews[' Third quartile - Math SAT'].astype('float') - file_usNews[' First quartile - Math SAT'].astype('float')

In [118]:
file_usNews[0:5]

,ID Number,College Name,State,Public/private,Avg Math SAT,Avg Verbal SAT,Avg combined SAT,Avg ACT,First quartile - Math SAT,Third quartile - Math SAT,...,Estimated personal spending,Pct of faculty with PhDs,Pct of faculty with terminal degree,Student/faculty ratio,Pct alumni who donate,Instructional expenditure per student,Graduation rate,Private or Public,InterQ_Math_SAT,InterQ_Verbal_SAT
0,1061,Alaska Pacific University,AK,2,490,482,972,20,440,530,...,1500,76,72,11.9,2,10922,15,Private,90,120
1,1063,University of Alaska at Fairbanks,AK,1,499,462,961,22,NaN,NaN,...,2304,67,NaN,10.0,8,11935,NaN,Public,NaN,NaN
2,1065,University of Alaska Southeast,AK,1,NaN,NaN,NaN,NaN,NaN,NaN,...,1162,39,51,9.5,NaN,9584,39,Public,NaN,NaN
3,11462,University of Alaska at Anchorage,AK,1,459,422,881,20,NaN,NaN,...,1260,48,NaN,13.7,6,8046,NaN,Public,NaN,NaN
4,1002,Alabama Agri. & Mech. Univ.,AL,1,NaN,NaN,NaN,17,NaN,NaN,...,850,53,53,14.3,NaN,7043,40,Public,NaN,NaN

# Problem 1(d).  Saving for R.

Save your data frame as a .csv file for further analysis in R.  You should replace the ```NaN``` symbol with an empty string before saving.  Your output should not include a column of row numbers.

In [120]:
file_usNews.fillna("", inplace=True)
file_usNews

,ID Number,College Name,State,Public/private,Avg Math SAT,Avg Verbal SAT,Avg combined SAT,Avg ACT,First quartile - Math SAT,Third quartile - Math SAT,...,Estimated personal spending,Pct of faculty with PhDs,Pct of faculty with terminal degree,Student/faculty ratio,Pct alumni who donate,Instructional expenditure per student,Graduation rate,Private or Public,InterQ_Math_SAT,InterQ_Verbal_SAT
0,1061,Alaska Pacific University,AK,2,490,482,972,20,440,530,...,1500,76,72,11.9,2,10922,15,Private,90,120
1,1063,University of Alaska at Fairbanks,AK,1,499,462,961,22,,,...,2304,67,,10.0,8,11935,,Public,,
2,1065,University of Alaska Southeast,AK,1,,,,,,,...,1162,39,51,9.5,,9584,39,Public,,
3,11462,University of Alaska at Anchorage,AK,1,459,422,881,20,,,...,1260,48,,13.7,6,8046,,Public,,
4,1002,Alabama Agri. & Mech. Univ.,AL,1,,,,17,,,...,850,53,53,14.3,,7043,40,Public,,
5,1003,Faulkner University,AL,2,,,,20,,,...,,52,56,32.8,,3971,55,Private,,
6,1004,University of Montevallo,AL,1,,,,21,,,...,600,72,72,18.9,8,5883,51,Public,,
7,1005,Alabama State University,AL,1,,,,,,,...,,48,53,18.7,,,15,Public,,
8,1009,Auburn University-Main Campus,AL,1,575,501,1076,24,520,638,...,1908,85,91,16.7,18,6642,69,Public,118,106
9,1012,Birmingham-Southern College,AL,2,575,525,1100,26,470,680,...,900,74,79,14.0,34,8649,72,Private,210,190
10,1016,University of North Alabama,AL,1,,,,,,,...,,62,68,19.4,5,4944,76,Public,,
11,1019,Huntingdon College,AL,2,513,446,959,23,480,570,...,1100,63,72,11.4,9,7703,44,Private,90,130
12,1020,Jacksonville State University,AL,1,,,,20,,,...,1500,66,67,20.1,6,4604,33,Public,,
13,1023,Judson College,AL,2,,,,22,,,...,,70,70,17.9,27,5159,43,Private,,
14,1024,Livingston University,AL,1,,,,19,,,...,2100,58,58,18.8,4,4272,36,Public,,
15,1028,Miles College,AL,2,,,,,,,...,1000,35,,16.7,2,4455,15,Private,,
16,1029,University of Mobile,AL,2,,,,22,,,...,1200,59,63,16.6,4,5412,52,Private,,
17,1033,Oakwood College,AL,2,382,378,760,17,,,...,2500,52,52,14.5,12,7986,,Private,,
18,1036,Samford University,AL,2,,,,,485,585,...,1650,74,75,14.7,17,9533,61,Private,100,100
19,1041,Spring Hill College,AL,2,525,480,990,24,480,550,...,900,80,89,14.4,23,8594,70,Private,70,90
20,1044,Stillman College,AL,2,,,,,,,...,1000,47,47,14.3,,5031,47,Private,,
21,1046,Talladega College,AL,2,,,,,,,...,1400,56,58,15.5,7,5970,46,Private,,
22,1047,Troy State University at Troy,AL,1,510,470,980,20,350,480,...,,50,50,23.0,,4295,48,Public,130,170
23,1050,Tuskegee University,AL,2,,,,,,,...,1425,70,74,12.2,7,10872,65,Private,,
24,1051,University of Alabama at Tuscaloosa,AL,1,,,,23,,,...,1654,80,91,17.3,29,6426,50,Public,,
25,1052,University of Alabama at Birmingham,AL,1,,,,21,,,...,2200,96,96,6.7,16,16352,33,Public,,
26,1055,University of Alabama at Huntsville,AL,1,542,468,1010,24,470,610,...,2100,83,88,12.7,12,8863,38,Public,140,140
27,1057,University of South Alabama,AL,1,,,,23,,,...,1470,80,80,13.3,,8667,43,Public,,
28,8310,Auburn University at Montgomery,AL,1,,,,21,,,...,2500,74,76,18.1,,4792,42,Public,,
29,1085,University of Arkansas at Monticello,AR,1,,,,,,,...,2800,54,54,42.6,,2033,,Public,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1272,3911,Viterbo College,WI,2,,,,22,,,...,2245,51,65,10.7,31,8050,73,Private,,
1273,3915,University of Wisconsin-Stout,WI,1,,,,21,,,...,1750,78,78,21.0,17,6254,65,Public,,
1274,3917,Univ. of Wisconsin at Eau Claire,WI,1,525,460,985,23,460,585,...,1260,80,,19.3,28,6139,61,Public,125,120
1275,3919,Univ. of Wisconsin at La Crosse,WI,1,,,,,,,...,1700,,78,21.3,7,5946,54,Public,,
1276,3921,Univ. of Wisconsin at Platteville,WI,1,,,,22,,,...,1500,66,67,20.6,25,7100,59,Public,,
1277,3923,Univ. of Wisconsin at River Falls,WI,1,,,,,,,...,1357,69,73,18.1,15,6460,46,Public,,
1278,3924,Univ. of Wisconsin at Stevens Point,WI,1,,,,22,,,...,1230,,,19.2,,,67,Public,,
1279,3925,University of Wisconsin-Superior,WI,1,,,,21,,,...,1960,75,81,15.2,15,6490,36,Public,,
1280,3926,University of Wisconsin-Whitewater,WI,1,,,,21,,,...,1200,90,95,23.1,16,5559,67,Public,,
1281,5015,University of Wisconsin at Parkside,WI,1,,,,20,,,...,,87,93,18.4,13,6855,28,Public,,
1282,9630,Univ. of Wisconsin at OshKosh,WI,1,,,,22,,,...,1890,73,78,19.2,14,5901,56,Public,,
1283,21366,Wisconsin Lutheran College,WI,2,,,,23,,,...,1400,48,48,8.5,26,8960,50,Private,,
1284,3806,Alderson-Broaddus College,WV,2,443,394,837,20,400,510,...,1800,40,41,11.5,15,8991,52,Private,110,90
1285,3808,Bethany College,WV,2,479,448,927,23,,,...,1500,80,,13.0,24,10941,59,Private,,
1286,3809,Bluefield State College,WV,1,420,370,780,19,,,...,2026,24,25,16.3,,2520,42,Public,,
1287,3810,Concord College,WV,2,,,,20,,,...,1874,55,62,19.2,22,4311,49,Private,,
1288,3811,Davis & Elkins College,WV,2,437,399,836,19,360,500,...,,64,70,12.8,26,8813,94,Private,140,110
1289,3812,Fairmont State College,WV,1,,,,19,,,...,,37,37,19.6,,3191,50,Public,,
1290,3813,Glenville State College,WV,1,,,,19,,,...,2000,25,31,17.3,,3689,65,Public,,
1291,3815,Marshall University,WV,2,465,450,915,23,,,...,1560,77,86,16.6,10,6203,50,Private,,
1292,3818,University of Charleston,WV,2,505,443,948,21,430,550,...,750,26,58,2.5,10,7683,57,Private,120,100
1293,3820,Salem-Teikyo University,WV,2,,,,22,370,580,...,620,46,24,13.0,9,8946,98,Private,210,190
1294,3822,Shepherd College,WV,2,481,422,903,24,430,523,...,1665,57,63,16.5,,3485,46,Private,93,80
1295,3823,West Liberty State College,WV,1,,,,19,,,...,1210,33,33,16.3,10,4249,60,Public,,
1296,3825,West Virginia Institute of Technology,WV,1,,,,20,,,...,,,31,15.3,,4325,56,Public,,
1297,3826,West Virginia State College,WV,1,,,,18,,,...,750,38,38,19.2,4,3839,,Public,,
1298,3827,West Virginia University,WV,1,507,439,946,22,450,560,...,,83,86,13.4,,8318,57,Public,110,110
1299,3830,West Virginia Wesleyan College,WV,2,489,439,928,23,420,560,...,1100,58,81,16.4,42,8080,67,Private,140,130
1300,3831,Wheeling Jesuit College,WV,2,479,433,912,22,410,520,...,600,66,71,14.1,27,7494,72,Private,110,110
1301,3932,University of Wyoming,WY,1,,,,23,,,...,1500,91,94,15.1,13,8745,45,Public,,

In [121]:
# Save the data frame to a .csv file
# Specifying index=False prevents us from writing a column of row numbers

file_usNews.to_csv("new_usnews.csv", index=False)